@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    height: 96%;
    margin: 0;
}

main {
    display: flex;
    flex: auto;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

.app-container {
    display: flex;
    flex: 1 0 1;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 400px;
    background: linear-gradient(180deg, #4D4EE1, #4EC1CB);
    box-shadow: 0 4px 6px 2px;
}

.display-container {
    border: 2px solid black;
    border-radius: inherit;
    min-height: 1.2em;
    margin: .8em;
    margin-bottom: 0;
    padding: .3em;
    background-color: #fffffff0;
    box-shadow: 0 0 4px 1px;
}

.buffer {
    font-size: .5em;
}

.display, .buffer {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    min-height: 1.3em;
    font-family: "Orbitron", sans-serif;
    word-break: break-word;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: .8em;
}

button {
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    flex-basis: 22%;
    border-radius: 16px;
    background-color: #ffffffdf;
    box-shadow: 0 0 2px 1px black;
}

button:hover {
    cursor: pointer;
}

.half {
    flex-basis: 47%;
}

.top, .operator {
    color: #ffffff;
}

.top {
    background-image: linear-gradient(180deg, #4b0082, #5a189a);
}

.operator {
    background-image: linear-gradient(180deg, #c492ff, #9a5fff);
}

footer {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1em;
}

footer i {
    color: black;
}