body, html {
    height: 96%;
    margin: 0;
}

main {
    display: flex;
    flex: auto;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.app-container {
    display: flex;
    flex: 1 0 1;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    background-color: silver;
    box-shadow: 0 4px 6px 2px;
}

.display-container {
    border: 2px solid black;
    border-radius: inherit;
    min-height: 1.2em;
    margin: .8em;
    padding: .3em;
    background-color: white;
    box-shadow: 0 0 4px 1px;
}

.display {
    display: flex;
    justify-content: flex-end;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: .8em;
}

button {
    font-size: inherit;
    flex-basis: 22%;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 2px 1px;
}

footer {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

footer i {
    color: black;
}